<!DOCTYPE html>
<html>
    <head>
        <title>Create Account</title>
    </head>
    <body>
        {% with errors = get_flashed_messages() %}
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endwith %}
        <form action = "/auth" method="GET">
            <label>Username</label>
            <input type="text" name="username">
            <br>
            <label>Password</label>
            <input type="text" name="password">
            <label> Enter Password Again: </label>
            <input type="text" name="passwordNew">
            <input type="submit" value="Submit">
            <input type = "submit"  value = "Create Account" action = "/create-account">
        </form>
    </body>
</html>
