{% extends "navigator.html" %}

{% block title %}
    {{name}} Blogs
{% endblock %}

{% block body %}
    Here are {{name}} Blogs!
    {% if isOwner %}
        <br>
        {% with errors = get_flashed_messages() %}
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endwith %}
        <br>
        <form action = "/blogs" method = "GET">
            <input type = "text" name = "blog_name" placeholder = "New Blog Title">
            <input type = "submit" name="blog_creation" value = "Create Blog">
        </form>
    {% endif %}
    <br>
    {% for blog in blogs %}
        <form action = "/blogs/entries" method = "GET">
          <input type=hidden name="user" value={{name}}>
          <input type = "submit" name = "blog_name" value = {{blog}}>
        </form>
        <br>
    {% endfor %}
{% endblock %}
