{% extends "navigator.html" %}

{% block title %}
    {{name}}'s Blogs
{% endblock %}

{% block body %}
    Here are {{name}}'s Blogs!
    {% if isOwner %}
        <br>
        <br>
        <form action = "/blogs" method = "GET">
            <input type = "text" name = "blog_name" placeholder = "New Blog Title">
            <input type = "submit" value = "Create Blog">
        </form>
    {% endif %}
    <br>
    {% for blog in blogs %}
        <form action = "/blogs/entries" method = "GET">
            <input type = "submit" name = "blog_name" value = {{blog["blog_title"]}}>
        </form>
        <br>
    {% endfor %}
{% endblock %}
